# === NODE / BACK-END ===
node_modules/
.env
dist/
dist-ssr/
build/
# package-lock.json
yarn.lock
pnpm-lock.yaml

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# === FRONT-END / VITE / REACT ===
.vite/
.cache/
*.local
*.DS_Store

# === IDEs e editores ===
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# === Testes ou arquivos temporários ===
coverage/
*.test.js
*.spec.js
*.snap
*.tmp
*.bak
